.order-list-wrapper {
    margin: 5% 20%;
    h2 {
        text-align: center;
        margin-bottom: 3%;
    }

    .add-button{
        margin: 8% auto 3%;
    }
}

.total-price{
    float: right;
}

.dollar.sign{
    float: right;
}

.total{
    float: left;
}

.content.list__header.list__content {
    margin: 2%;
    margin-bottom: 5%;
    font-size: 1.2em;
}
