$dark_grey: #383944;
$white: #ffffff;
$light_grey: #ddd;
$gold: #fbbd08;
$grey: #858585;
$yellow: #fbbd08;
$dark_yellow: #c59301;
$dark_grey: #383944;
$white: #ffffff;
$light_grey: #ddd;
$green: #4fd31b;
$pink: #fe4c8d;

$button_color: #fbbd08;
$white: #fff;
$grey: #ccc;
$red: red;
$green: green;
$light_green: #4fd31b;
$shadow_black: rgba(15,15,15,1);
$bright_grey: rgba(34,36,38,.15);
$orange: #f2711c;
$red: #FF0000;
